.wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px #0000001a;
}
.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  //   max-width: 1200px;
  padding: 0 8px;
}
