.header-nav-link {
  padding: 8px 24px;
  margin-right: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header-nav-link.active {
  i {
    color: var(--primary-color);
  }
}
.header-nav-link:hover {
  background-color: var(--blue-color-hover-state-1);

  .tooltip {
    display: unset;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    animation-delay: 0.2s;
  }
}
.header-nav-link i {
  font-size: 24px;
  color: #666;
}
.header-nav-link:last-child {
  margin: 0;
}
.tooltip {
  position: absolute;
  z-index: 1;
  display: none;
}
.tooltip-wrapper {
  user-select: none !important;
  border-radius: 6px;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 2px 8px;
  white-space: nowrap;
  color: #fff;
  font-size: 11px;
  position: relative;
}
.tooltip-wrapper::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.tooltip.bot {
  top: 100%;
  transform: translateY(16px);

  .tooltip-wrapper::before {
    border-width: 0 6px 4px 6px;
    border-color: transparent transparent rgb(0, 0, 0, 0.6) transparent;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
