.wrapper {
  font-family: TikTokFont;
  font-weight: 600;
  font-size: 15px;
  border-radius: 2px;
  // padding: 0px 12px;
  display: flex;
  -webkit-box-align: center;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-pack: center;
  height: 44px;
  position: relative;
  cursor: pointer;
  margin-bottom: 9px;
  word-break: keep-all;
  white-space: nowrap;
  background: rgb(255, 255, 255);
  animation: auto ease 0s 1 normal none running none;
  border-width: 1px;
  border-style: solid;
  color: rgb(22, 24, 35);
  border-color: rgba(22, 24, 35, 0.12);
  background-color: rgba(22, 24, 35, 0.06);
}

.input {
  border-radius: 2px;
  border: none rgba(22, 24, 35, 0.12);
  padding-inline-start: 12px;
  color: rgb(22, 24, 35);
  line-height: 100%;
  outline: none;
  font-size: 16px;
  height: 44px;
  caret-color: rgb(254, 44, 85);
  width: 100%;
  padding-inline-end: 12px;
}

.input + .input {
  margin-top: 12px;
}

.eye {
  line-height: 0;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  cursor: pointer;
  font-size: 1.6rem;
  opacity: 0.5;
  user-select: none;
}

.send-code {
  color: rgba(75, 77, 91, 0.34);
  cursor: not-allowed;
  font-family: TikTokFont;
  font-weight: 600;
  margin: 0px;
  background-color: rgba(22, 24, 35, 0.06);
  border-color: rgba(22, 24, 35, 0.12);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 0px 4px 4px 0px;
  border-inline-start-width: 1.5px;
  font-size: 16px;
  padding: 0px 16px;
  height: 44px;
  flex-shrink: 0;
  box-sizing: content-box;
  cursor: no-drop;
  
  &.active{
    color: rgb(22, 24, 35);
    cursor: pointer;
  }
}
