@keyframes form-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes form-tranform {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.form {
  position: fixed;
  inset: 0;
  // top: 80px;
  background-color: var(--background-color);
  z-index: 999999990;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  padding: 112px 16px 32px 16px;
}
.form {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.form::-webkit-scrollbar {
  display: none;
}
.form form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--elem-color);
  box-shadow: var(--shadow-mode-1);
  padding: 32px;
  // border: 1px solid var(--border-color);
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  margin: auto 0;
  position: relative;
  & > :last-child {
    margin-bottom: 0 !important;
  }
}
.mini form {
  padding: 16px;
  max-width: 280px;
  text-align: center;
}
.mini form > p {
  font-weight: normal;
}
.show {
  animation: form-opacity 0.4s ease;
}
.show form {
  animation: form-tranform 0.4s ease;
}
.wait {
  display: flex;
}
.animation {
  animation: form-opacity 0.4s ease forwards reverse;
}
.animation form {
  animation: form-tranform 0.4s ease forwards reverse;
}
.form * {
  color: var(--content-color);
  font-size: 14px;
}
.btn-hide-form {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  width: 32px;
  aspect-ratio: 1;
  // background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 0;
  &:hover {
    background-color: var(--elem-color-hover);
  }
}
.btn-hide-form i {
  color: #a3a5a6;
}
.btn-hide-form:hover i {
  color: var(--primary-color);
}
.form form > p {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
}
.form form > * {
  flex: 1 0 100%;
}
.form form .label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.form .half {
  max-width: 50%;
}
.form form .indent {
  max-width: calc(50% - 16px);
  margin-right: 16px;
}
.form input {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
}
.form input::placeholder {
  color: #aaa;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
}
.form [type='file'] {
  appearance: none;
  display: none;
}
.form .file,
.form select {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin-top: 8px;
}
.btn-send {
  padding: 8px;
  height: 44px;
  background-color: var(--primary-color);
  border-radius: 8px;
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.8s !important;
}
.btn-send:hover {
  background-color: var(--primary-color-hover);
}
.btn-send:disabled {
  background-color: #d3d5d6;
  cursor: default;
}

.icon {
  height: 100%;
  aspect-ratio: 10/7;
  object-fit: cover;
}
<<<<<<< HEAD


.label-input{

  .error{
      font-size: 1.2rem;
      color: var(--error-color);
      margin-top: 4px;
      margin-left: 2px;
  }
}
=======
>>>>>>> 491052f5e134c5d31969c9a3ba1da07c64fe36f6
