.label-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}
.label-input > * {
  cursor: pointer;
}
.label-input input {
  margin: 0;
  margin-right: 8px;
  accent-color: var(--primary-color);
}
.label-input span {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
}
.waiting {
  font-size: 14px;
  font-weight: 300;
  padding: 16px;
}
