.wrapper{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inner{
    position: relative;
    display: flex;
}

.child{
    overflow-y: scroll;
    max-height: calc(100vh - var(--height-header));
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: width 3s ease-in-out;

}