.wrapper{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inner{
    display: flex;
}

.child{
    overflow-y: scroll;
    max-height: calc(100vh - var(--height-header));
    height: 100%;
}