.list-link-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 12px;
  border-radius: 12px;
  background-color: #f9f9f9;
  margin-bottom: 12px;
  user-select: none !important;
  cursor: pointer;
  transition: 0.2s;
}
.list-link-item:hover {
  background-color: var(--primary-color);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.4);
  color: #fff;
}
.list-link-item img {
  margin-right: 12px;
  width: 28px;
}
