.wrapper{
    display: flex;
    align-items: center;
    height: 54px;
    width: 100%;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    padding: 8px;
    margin-bottom: 8px;
}