.post-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  position: relative;
  cursor: pointer;
}
.post-item::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 12px;
}
.post-item:active {
  border-color: #0081ff;
}
.post-item:hover .post-title p {
  text-decoration: underline;
}
.post-item > * {
  margin-bottom: 8px;
}
.post-item > :last-child {
  margin-bottom: 0;
}
.post-title {
  font-weight: 500;
  font-size: 18px;
  display: flex;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.btn-save-post {
  padding: 0;
  width: 32px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-left: 12px;
  position: relative;
  z-index: 999999999;
}
.btn-save-post i {
  font-size: 16px;
}
.btn-save-post:hover {
  background-color: #DEECFF;
}
.post-from-company {
  font-size: 12px;
  font-weight: 300;
}
.tag {
  font-size: 14px;
  margin-right: 8px;
  background-color: #eee;
  color: #0081ff;
  padding: 4px 12px;
  border-radius: 4px;
}
.line-title{
  font-size: 14px;
  font-weight: 400;
}
.line-desc {
  font-size: 14px;
  font-weight: 300;
}
.line-desc::before {
  content: '• ';
  opacity: 0.8;
}
.short-desc{
  list-style: circle;
  padding-inline-start: 20px;
  margin-top: 12px;
}
.desc{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.desc:last-child {
  margin-bottom: 0;
}