* {
  color: #444;
  font-family: Inter;
  line-height: 1.5;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  padding: 0 12px;
  position: relative;
}
.wrapper > * {
  display: flex;
}
.wrapper > :last-child {
  margin: 0;
}
//left
.left {
  flex-direction: column;
  position: sticky;
  top: calc(65px + 16px);
}

//center
.center {
  flex: 1 1 100%;
  flex-direction: column;
}

//right
.right {
  display: flex;
  flex-direction: column;
  flex: 1 0 280px;
}
.right > * {
  margin-bottom: 16px;
}
.right > :last-child {
  margin: 0;
}
