* {
  color: #444;
  font-family: Inter;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  padding: 0 12px;
  position: relative;
}
.wrapper > * {
  flex: 1;
  display: flex;
  margin-right: 16px;
}
.wrapper > :last-child {
  margin: 0;
}
