.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

.head {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 12px 20px;
  button {
    border: 1px solid #333;
  }
}

.left {
  display: flex;

  button {
    margin-left: 4px;
  }
}

.post-title {
  font-weight: 600;
}
