.wrapper{
    flex: 1;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.wrapper + .wrapper{
    margin-inline-start: 8px;
}
.selector{
    position: relative;
    // width: 115px;
    height: 44px;
    padding: 0px 12px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(22, 24, 35);
    font-size: 16px;
}

.list{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 120px;
    max-height: 320px;
    overflow: auto;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    top: 50px;
    z-index: 12;
    display: block;
    transition: display 0.3s;
}

.option{
    height: 34px;
    overflow: auto;
    font-size: 16px;
    padding: 0px 12px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(22, 24, 35);
    background: unset;
}