.menu-item {
  display: flex;
  align-items: center;
  padding: 14px 10px;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 58px;

  margin-top: 4px;
}
.menu-item.active {
  background-color: var(--blue-color-hover-state-1) !important;
  
  span{
    color: var(--primary-color);
  }
}

.menu-item.collapsed {
  justify-content: center;
  .title {
    display: none;
  }
}

.menu-item:hover {
  background-color: #e3e3e3;
}

.title {
  display: inline-block;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  animation: fadeOut 5s ease-in-out forwards;
  white-space: nowrap;
}
