.header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 12px 0;
}
