.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background: var(--content-bg-color);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.head .date{
  color: var(--text-color);
}

.head-left {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--title-page-color);
}

.head span {
  font-size: 1.4rem;
  color: #666;
}



.post-detail {
  background: var(--card-bg-color);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post-detail p {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: var(--text-color);
}

.content h5 {
  font-size: 1.6rem;
  margin-top: 10px;
  color: var(--title-page-color);
}

.job-content {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.6;
  white-space: pre-line;
}



// see more button
.see-more {
  background: none;
  border: none;
  color: var(--title-page-color);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  display: block;
  text-align: left;
}


