.wrapper {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // border-left: 5px solid var(--primary-title-text-color);
}

.info {
  padding: 12px;
}

.section {
  margin-bottom: 12px;
}

.interviewDate {
  font-size: 18px;
  color: var(--primary-title-text-color);
  font-weight: bold;
}

.location,
.contact,
.email,
.method {
  margin: 4px 0;
  font-size: 14px;
  color: var(--text-color);
}

.heading {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 6px;
}

.interviewerList,
.documentList {
  list-style: none;
  padding: 0;
}

.interviewerItem,
.documentItem {
  background: var(--card-bg-color);
  color: var(--text-color);
  padding: 6px 10px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.note {
  background: #fff3cd;
  padding: 8px;
  border-radius: 4px;
  color: #856404;
}
