.wrapper{
    max-width: var(--sidebar-width);
    width: 100%;
    background-color: #f5f2f2;
    height: calc(100vh);
    border-right: 1px solid var(--line-border-color);
    cursor: pointer;
}
.icon{
    color: #333;
    font-size: 20px;
}
.head{
    display: flex;
    height: var(--height-header);
    border-bottom: 1px solid var(--line-border-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    background-color: var(--header-color);
    color: #fff;

}

.head img {
    height: 40px;
    aspect-ratio: 1/1;

}
.bars{
    font-size: 22px;
}
