body {
  height: 100vh;
  background-color: var(--background-color-state-1);

  #root {
    height: 100%;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container {
  display: flex;
  flex: 1;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-top: 65px;
}
.inner {
  display: flex;
  flex: 1;
}
