:root {
  --gradient-bgr: linear-gradient(to right, #12216d, var(--primary-color), #b5daff);
  --general-padding: 20px;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: calc(64px);
  padding: 0 12px;
}
.wrapper > * {
  margin-top: 16px;
}
.wrapper > :last-child {
  margin-bottom: 16px;
}
.poster {
  position: relative;
  display: flex;
  //   justify-content: ;
  align-items: flex-end;
  border-radius: 12px;
  overflow: hidden;
}
.poster img {
  position: relative;
}
.poster .poster-img {
  width: 100%;
  aspect-ratio: 26/9;
  object-fit: cover;
}
// .poster::before {
//   position: absolute;
//   inset: 0;
//   content: '';
//   background-color: rgb(0, 0, 0, 0.05);
//   z-index: 1;
// }
.com-info {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: var(--gradient-bgr);
  padding: 12px;
}
.com-info-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 120px;
}
.com-logo {
  position: absolute;
  width: 160px;
  transform: translate(72px, -72px);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #fff;
  padding: 4px;
}
.com-info-group {
  position: relative;
  transform: translate(144px, 0);
  display: flex;
  flex-direction: column;
}
.com-name {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.com-info-detail {
  display: flex;
  margin-top: 12px;
  margin-left: -32px;
}
.com-url {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #fff;
  margin-right: 24px;
  a {
    color: #fff;
  }
}
.com-recruitment-slots {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main-info {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
}
.col1 {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
}
.col1 > * {
  margin-right: 16px;
  margin-bottom: 16px;
  width: unset;
}
.col1 > :nth-child(2) > div {
  padding: var(--general-padding);
  background: var(--gradient-bgr);
  color: #fff;
  font-weight: 600;
  border-radius: 12px 12px 0 0;
}
.col1 > :nth-child(2) {
  li {
    padding: var(--general-padding);
  }
}
.box-info {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.box-info > * {
  padding: var(--general-padding);
}
.box-info * {
  color: #333;
}
.info-title {
  background: var(--gradient-bgr);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.main-info-content {
  color: #333;
  font-size: 14px;
}
.col2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
}
.col2 > * {
  margin-bottom: 16px;
}

.com-contact-info {
  display: flex;
  flex-direction: column;
}
.com-contact-info * {
  color: #333;
}
.com-contact-address {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
}
span.contact-info-title {
  span {
    margin-left: 12px;
  }
  i {
    color: var(--primary-color);
  }
  margin-bottom: 12px;
}
.address-content {
  font-size: 14px;
}
.com-contact-map {
  display: flex;
  flex-direction: column;
}
.map {
  aspect-ratio: 1;
  border: 0;
}
.col2-sharer-body {
  display: flex;
  flex-direction: column;
}
.col2-sharer-body > * {
  margin-bottom: 12px;
}
.content {
  font-size: 14px;
  font-weight: 500;
}
.box-link-sharer {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  input {
    all: unset !important;
    font-size: 16px;
    color: #333 !important;
  }
}
.btn-copy {
  padding: 0;
  width: 25px;
  aspect-ratio: 1;
  background-color: #f5f5f5;
  border-radius: 4px !important;
}
.btn-copy:hover {
  background-color: #eee;
}
.box-option-sharer {
  display: flex;
  align-items: center;
}
.option-sharer {
  border: 1px solid #eee;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  padding: 8px;
  margin-right: 12px;
}
.option-sharer img {
  aspect-ratio: 1;
  width: 28px;
}
.option-sharer:hover {
  background-color: #f5f5f5;
}
