:root {
  --text-color: #333;
  --white-color: #fff;
  --black-color: #000;
  --header-color: #272727;
  --star-color: #fcb31b;
  --blur-text-color: rgba(51, 51, 51, 0.5333333333);
  --line-color: rgba(136, 136, 136, 0.2784313725);
  --red-color: rgb(255, 59, 92);
  --background-active-color: rgba(254, 44, 86, 0.079);
  --line-border-color: rgba(22, 24, 35, 0.12);

  // height
  --height-header: 64px;

  // width
  --sidebar-width: 280px;
  // font
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

// @font-face {
//   font-family: TiktokFont;
//   src: url('/assets/font/TikTokFont-Regular.woff2');
//   font-weight: 400;
// }
// @font-face {
//   font-family: TiktokFont;
//   src: url('/assets/font/TikTokFont-Semibold.woff2');
//   font-weight: 600;
// }
// @font-face {
//   font-family: TiktokFont;
//   src: url('/assets/font/TikTokFont-Bold.woff2');
//   font-weight: 700;
// }
// @font-face {
//   font-family: TikTokDisplayFont;
//   src: url('/assets/font/TikTokDisplayFont-Semibold.woff2');
//   font-weight: 600;
// }
// @font-face {
//   font-family: TikTokDisplayFont;
//   src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
//   font-weight: 700;
// }

body {
  font-size: 1.6rem;
  line-height: 1.5;
  // color: var(--text-color);
  // font-family: var(--font-family);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// scroll bar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(72, 72, 72, 0.08);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(64, 64, 64, 0);
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
