:root {
  --text-color: #333;
  --white-color: #fff;
  --black-color: #000;
  --header-color: #0074e9;
  --star-color: #fcb31b;
  --blur-text-color: rgba(51, 51, 51, 0.5333333333);
  --line-color: rgba(136, 136, 136, 0.2784313725);
  --red-color: rgb(255, 59, 92);
  --background-active-color: rgba(254, 44, 86, 0.079);
  --line-border-color: rgba(22, 24, 35, 0.12);

  // height
  --height-header: 64px;

  // width
  --sidebar-width: 280px;
  // font

  --font-family: 'TikTokFont', sans-serif;

  //css of the handsome guy, no edit, thanks!
  --primary-color: #0081ff;
  --secondary-color: #f3f5f6;

  --tag-blue: #0081ff;
  --tag-green: #00CC00;
  --tag-light-purple: #7A6BFF;

  --blue-color-state-1: #1d4ed8;
  --blue-color-state-2: #2563eb;
  --blue-color-state-3: #3b82f6;

  --background-color-state-1: #f3f5f6;

  --blue-color-hover-state-1: #3b82f60d;
  --blue-color-hover-state-2: #3b82f61a;
  --blue-color-hover-state-3: rgba(60, 131, 246, 0.150);

  --blue-color-hover-state-4: rgba(59, 130, 246, 0.2);
  --blue-color-hover-state-5: rgba(59, 130, 246, 0.4);
  --blue-color-hover-state-6: rgba(59, 130, 246, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: TiktokFont;
  src: url('/assets/font/TikTokFont-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: TiktokFont;
  src: url('/assets/font/TikTokFont-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: TiktokFont;
  src: url('/assets/font/TikTokFont-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: TikTokDisplayFont;
  src: url('/assets/font/TikTokDisplayFont-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: TikTokDisplayFont;
  src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
  font-weight: 700;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  // color: var(--text-color);
  font-family: var(--font-family);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// scroll bar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(72, 72, 72, 0.08);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(64, 64, 64, 0);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
